body {
    padding: 0;
    margin: 0;
    background-color: #121212;
    color: #000;
    font-size: 18px; /* default 16px */
}

#contents {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F2F0E6;
    color: #000;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: orange;
}

li {
    margin: 5px;
}

.profile-table {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-img {
    margin-right: 20px;
    flex-shrink: 0;
}

.profile-img img {
    width: 180px;
    height: auto;
    border-radius: 8px;
    display: block;
}

.underline {
    text-decoration: underline;
}

.profile-text {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .profile-table {
        flex-direction: column;
    }

    .profile-img {
        margin: 0;
    }

    .profile-text {
        text-align: center;
    }
}
